* {
margin: 0px;
font-family: 'Roboto', sans-serif;
display: block; 
box-sizing: border-box;
padding: 5px;
}

head {
display:none;
}
header {
position: relative;
  top: 0;
  left: 0;
}
body {
background-color: whitesmoke;
}
img {
height: 30%;
width: 30%;
}

nav ul {
   list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li{
  float: left;
}

nav li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

span {
border: none;
background-color: #6495ED;
}

h2{
border: 1px solid orange;
background-color: orange;
text-align: center;
}

.column {
column-count: 2;
text-align: center;
}

.column4 {
width: 24%;
position: relative;
display: inline-block;
}
